/******************************************************************
TYPOGRAPHY
******************************************************************/
$genericons:		"Genericons";
$star:				"star";
$woocommercefont: 	"WooCommerce";
// $primary-color: #008CBA; is blue
// $secondary-color: #e7e7e7; is grey
// $alert-color: #f04124; is red
// $success-color: #43AC6A; is green


@font-face {
    font-family: 'Genericons';
    src: url('library/fonts/genericons-regular-webfont.eot');
    src: url('library/fonts/genericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('library/fonts/genericons-regular-webfont.woff') format('woff'),
         url('library/fonts/genericons-regular-webfont.ttf') format('truetype'),
         url('library/fonts/genericons-regular-webfont.svg#genericonsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'star';
	src:url('library/fonts/star.eot');
	src:url('library/fonts/star.eot?#iefix') format('embedded-opentype'),
		url('library/fonts/star.woff') format('woff'),
		url('library/fonts/star.ttf') format('truetype'),
		url('library/fonts/star.svg#star') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'WooCommerce';
	src:url('library/fonts/WooCommerce.eot');
	src:url('library/fonts/WooCommerce.eot?#iefix') format('embedded-opentype'),
		url('library/fonts/WooCommerce.woff') format('woff'),
		url('library/fonts/WooCommerce.ttf') format('truetype'),
		url('library/fonts/WooCommerce.svg#WooCommerce') format('svg');
	font-weight: normal;
	font-style: normal;
}


// $body-font-color: #222;
// $header-font-color: #222;
// $subheader-font-color: scale-color($header-font-color, $lightness: 35%);
// $small-font-color: scale-color($header-font-color, $lightness: 35%);
// $anchor-font-color: $primary-color;
// $anchor-font-color-hover: scale-color($primary-color, $lightness: -14%);
// $button-font-color: #fff;



// $warning-color: #f08a24;
// $info-color: #a0d3e8;