.woocommerce, .woocommerce-page {
	div.product, #content div.product {
		.product_title {}
		p.cart {margin-bottom: 2em;}
		form.cart {
			margin-bottom: 2em;
			div.quantity {}
			table {
				border:none;
				td {}
				div.quantity {}
				small.stock {}
			}
			.variations {
				label {font-weight: bold;}
				select {}
				td.label {
					margin-top: 1.2em;
					background:white;
				}
			}
			.button {@include button; }
			.group_table {
				td.label {}
				td {}
			}
		}
		/* =Quantity inputs ------------------------------------------------------ */
		.quantity, #content .quantity {
			width: 4rem;
			position: relative;
			height:3.625rem;
			overflow:hidden;
			zoom: 1;
			input.qty {
				width: 5rem;
				height: 3rem;
				padding-left: 0.75rem;
				text-align: left;
				font-weight:bold;
				-moz-appearance: textfield; /* Hide buttons for Firefox 29 and later */
			}
			/* Hide buttons for opera */
			noindex:-o-prefocus, input[type=number] {padding-right: 1.2rem;}
			.plus, .minus {
				display:block;
				padding: 0;
				margin: 0;
				position:absolute;
				text-align: center;
				vertical-align: text-top;
				width: 1.875rem;
				height: 1.5rem;
				text-decoration:none;
				overflow: visible;
				text-decoration:none;
				font-weight:bold;
				cursor: pointer;
				line-height: 13px;
				font-size: 12px;
				&:hover {}
			}
			.plus {
				top: 0;
				right: 0;
			}
			.minus {
				bottom: 0.85em;
				right: 0;
			}}
		/* =Product Loops --------------------------------------------------------- */
		.products {
			margin: 0 0 1em;
			padding: 0;
			list-style:none outside;
			clear:both;
			li {list-style:none outside;}
		}
		.products {
			.product {
				.onsale {
					top: 0;
					right: 0;
					left:auto;
					margin: -6px -6px 0 0;
				}
				h3 {
					padding: .5em 0;
					margin: 0;
					font-size: 1em;
				}
				a {text-decoration:none;}
				a img {
					width: 100%;
					height:auto;
					display:block;
					margin: 0 0 8px;
				}
				a:hover img {}
				strong {display:block;}
				.price {
					display:block;
					font-weight:normal;
					margin-bottom: .5em;
					del {
						font-size: 0.67em;
					}
					ins {
						background:none;
					}
					.from {
						font-size: 0.67em;
						margin: -2px 0 0 0;
						text-transform: uppercase;
					}
				}
			}
		}
		.woocommerce-result-count {margin: 0 0 4em;}
		.woocommerce-ordering {
			margin: 0 0 4em;
			select {vertical-align: top;}}} //div.product, #content div.product
		/* Sale labels */
		span.onsale {
			min-height: 32px;
			min-width: 32px;
			padding: 4px;
			font-size:0.8rem;
			font-weight:bold;
			position:absolute;
			text-align: center;
			line-height: 28px;
			margin: 0;
			border-radius: 20px;
			color:white;
			background:$primary-color;}
		/* =Reviews/comments ----------------------------------------------------------- */
		#reviews {
			h2 small a{}
			h3 {}
			#respond {}
			#comment {}
			#comments {
				.add_review {}
				h2 {}
				ol.commentlist {
					li {
						.meta {}
						img.avatar {
							float:left;
							@include thumb;
							margin: 0 10px 5px 0;
						}
						.comment-text {
							padding: 1em 1em 0;
							p {}
							p.meta {}
						}
					}
					ul.children {
						.star-rating {}
					}
					#respond {}}
				.commentlist > li:before {}
			}
		}
			/* =Tables
			-------------------------------------------------------------- */
			table.shop_attributes {
				border: 0;
				border-top: 1px dotted rgba(0,0,0,0.1);
				margin-bottom: 1.618em;
				width: 100%;
				th {
					width: 150px;
					font-weight:bold;
					padding: 8px;
					border-top: 0;
					border-bottom: 1px dotted rgba(0,0,0,0.1);
					margin: 0;
					line-height: 1.5em;
				}
				td {
					font-style: italic;
					padding: 0;
					border-top: 0;
					border-bottom: 1px dotted rgba(0,0,0,0.1);
					margin: 0;
					line-height: 1.5em;
					p {
						margin: 0;
						padding: 8px 0;
					}
				}
				.alt td, .alt th {
					background: rgba(0,0,0,0.025);
				}
			}
			table.shop_table {
				font-size:1rem;
				border: 1px solid $secondary-color;
				margin: 0px -1px 24px 0px;
				text-align:left;
				width: 100%;
				border-collapse: separate;
				th {
					font-weight:bold;
					padding: 9px 12px;
					font-size:1.2rem;
				}
				td {
					border-top: 1px solid rgba(0,0,0,0.1);
					padding: 6px 12px;
					vertical-align: middle;
					font-size:1em;
					small {
						font-weight: normal;
					}
				}
				tfoot td, tfoot th {
					font-weight:bold;
					border-top: 1px solid rgba(0,0,0,0.1);
				}}
				table.my_account_orders {
					font-size: 0.85em;
					th, td {
						padding: 4px 8px;
						vertical-align: middle;
					}
					.button {
						white-space:nowrap;
					}
					.order-actions {
						text-align: right;
						.button {
							margin: .125em 0 .125em .25em;
						}
					}
				}

				td.product-name {
					dl.variation {
						padding-left:1rem;
						dt, dd {
							font-weight:normal;
							float: left;
							font-size:1em;
							line-height:$base-line-height;
						}
						dt {
							margin: 0 4px 0 0;
						}
						dd {
							p {
								line-height:$base-line-height;
							}
						}
					}
					p.backorder_notification {
						font-size: 0.83em;
					}}
				td.product-quantity {min-width: 80px;}

				/* =Cart
	-------------------------------------------------------------- */
	table.cart, #content table.cart {
		.product-thumbnail {}
		img {}
		th, td {
			vertical-align: middle;
		}
		a.remove {
			display:block;
			font-size:1.5em;
			color: red;
			font-weight: bold;
			text-align: center;
			text-decoration: none;
			width:1em;
			height:1em;
		}
		a.remove:hover {
			background-color: red;
			color: #fff;
		}
		td.actions {}
		input {}
		.quantity, #content .quantity {
		width: 60px;
		position: relative;
		overflow:hidden;
		zoom: 1;
		input.qty {
			width: 40px;
			height: 40px;
			padding: 0;
			text-align: right;
			font-weight:bold;
			-moz-appearance: textfield; /* Hide buttons for Firefox 29 and later */
		}
		/* Hide buttons for opera */
		noindex:-o-prefocus, input[type=number] {
			padding-right: 1.2em;
		}
		.plus, .minus {
			display:block;
			padding: 0;
			margin: 0;
			position:absolute;
			text-align: center;
			vertical-align: text-top;
			width: 20px;
			height: 20px;
			text-decoration:none;
			overflow: visible;
			text-decoration:none;
			font-weight:bold;
			cursor: pointer;
			line-height: 13px;
			font-size: 12px;
			&:hover {}
		}
		.plus {
			top: 0;
			right: 0;
		}
		.minus {
			bottom: 1.3em;
			right: 0;
		}}
}
	/* =Forms ------------------------------------------------------------- */
	form {
		.form-row {
			// padding: 3px;
			// margin: 0 0 6px;

			[placeholder]:focus::-webkit-input-placeholder {
				-webkit-transition: opacity 0.5s 0.5s ease;
				-moz-transition: opacity 0.5s 0.5s ease;
				transition: opacity 0.5s 0.5s ease;
				opacity: 0;
			}
			label {
				// line-height: 2em;
			}
			label.hidden {
				// visibility:hidden;
			}
			label.inline {
				// display: inline;
			}
			select {
				// cursor: pointer;
				// margin: 0;
			}
			.required {
				// color: red;
				// font-weight:bold;
				// border: 0;
			}
			.input-checkbox {
				// display: inline;
				// margin: -2px 8px 0 0;
				// text-align: center;
				// vertical-align: middle;
			}
			input.input-text, textarea {
				// .borderbox;
				// width: 100%;
				// margin: 0;
				// outline: 0;
				// line-height: 1em;
			}
			textarea {
				// height: 4em;
				// line-height: 1.5em;
				// display:block;
				// -moz-box-shadow:none;
				// -webkit-box-shadow:none;
				// box-shadow:none;
			}
			&.validate-required.woocommerce-invalid {
				.chosen-single, .chosen-drop, input.input-text, select {
					border-color: #fb7f88;
				}
			}
			::-webkit-input-placeholder {
				line-height: normal;
			}
			:-moz-placeholder {
				line-height: normal;
			}
			:-ms-input-placeholder {
				line-height: normal;
			}
		}}
	form.login, form.checkout_coupon, form.register {
		// border: 1px solid darken( @secondary, 10 );
		// padding: 20px;
		// margin: 2em 0 2em 0px;
		// text-align:left;
		// .border_radius(5px);
	}
	ul#shipping_method {
		list-style: none outside;
		margin: 0;
		padding: 0;
		li {
			// margin: 0;
			// padding: .25em 0 .25em 22px;
			// text-indent: -22px;
			// list-style: none outside;
		}
		.amount {
			// font-weight: bold;
		}
	}
	p.woocommerce-shipping-contents {
		// margin: 0;
	}

} //.woocommerce, .woocommerce-page